@import "assets/styles/helper";

.tab-container {
  padding: 1%;
  margin: 1%;
  .action-button{
      margin-left: auto;
  }
  table {
      width: 100%;
  }
}

.tobe-deleted {
  text-decoration: line-through;
  color: $orange;
}

// taken from https://github.com/angular/components/issues/8680            
.table-container {
  width: 100vw; // <!-- THIS WORKS for horizontal scrolling (all columns visibile)
  // width: 100%; // <!-- THIS DOESNT for horizontal scrolling (no scrollbars)
  // width: 2800px; // <!-- THIS ALSO DOESNT for horizontal scrolling (no scrollbars)
}

.mat-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  border-right: 1px solid black;
}